<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car List!</title>
</head>
<body>
<h1><th th:text="${locale}"></h1>
<table border="1px">
    <tr>
        <td>Name</td>
        <td>Series</td>
        <td>Price</td>
    </tr>

    <th:block th:each="car : ${carList}">
        <tr>
            <th th:text="${car.name}"></th>
            <th th:text="${car.series}"></th>
            <th th:text="${car.price}"></th>
        </tr>
    </th:block>
</table>

</body>
</html>