<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car List!</title>
</head>
<body>
<h1>
    <th th:text="#{userHeader}">
</h1>
<table border="1px">
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>

    <th:block th:each="user : ${listUser}">
        <tr>
            <th th:text="${user.name}"></th>
            <th th:text="${user.age}"></th>
        </tr>
    </th:block>
</table>

</body>
</html>