<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CRUD APP</title>
</head>
<body>
<h1>
    <th th:text="#{userHeader}">
</h1>
<table border="1px">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <th>Edit user</th>
        <th>Delete user</th>
    </tr>

    <th:block th:each="user : ${listUser}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td><a th:href="@{/edit(id=${user.id})}">edit</a></td>
            <td><a th:href="@{/delete(id=${user.id})}">delete</a></td>
        </tr>
    </th:block>
</table>
<p>Add user</p>

<form th:action="@{/add}" th:object="${newUser}" method="post">
    <p>Name:     <input type="text" name="name" /></p>
    <p>Age:      <input type="text" name="age" /></p>
    <p>Password: <input type="text" name="password" /></p>
    <input type="submit" value="add"> <br>
</form>

</body>
</html>